@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  width: 100vw;
}
@layer base {
  .dropdown-item {
    @apply block px-4 py-3 text-base hover:bg-slate-700 border-b border-slate-500 cursor-pointer transition-all duration-300;
  }
}
