@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}
@layer base {
  .dropdown-item {
    @apply block px-4 py-3 text-base hover:bg-slate-700 border-b border-slate-500 cursor-pointer transition-all duration-300;
  }

  .em-gradient {
    background-image: linear-gradient(
      to bottom,
      #631a61,
      #552653,
      #340e33,
      #010101
    );
    height: 225px;
  }

  form input[type="text"] {
    @apply bg-emDark-dark font-brand font-regular text-white text-xs border border-white;
  }

  form input[type="text"]:focus {
    @apply focus:outline-none focus:border-emLavender focus:ring-0;
  }

  .textarea {
    @apply bg-emDark-dark font-brand font-regular text-white text-xs border border-white h-[300px] resize-none;
    border-top: none;
  }

  .textarea:focus {
    @apply focus:outline-none focus:border-white focus:ring-0;
  }

  .create_button {
    @apply bg-emPurple border border-white font-brand font-regular text-black text-base;
  }

  .create_button:hover {
    @apply hover:bg-emPurple-dark text-emDark-light border-emDark-light;
  }
}
